body {
  margin: 0;
  background-color: #e2e6f3;
}

ul {
  list-style: none;
  text-align: center;
}

a, a:link, a:visited, a:hover, a:link:active, a:visited:active{
  text-decoration: none;
  color: inherit;
}

a:focus {
  border: none;
  outline: 0;
}

.menuBarContainer {
  display:flex;
  width: 100vw;
  height: 100px;
  color: #e2e6f3;
  background-color: #011c28;
  align-items: center;
  justify-content: center;
}

.menuBarTitle {
  font-size: 25px;
  color: white;
  position: absolute;
  margin: 30px;
}

.menuBarButton {
  font-size: auto;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #011c28;
  color: white;
  margin: 20px;
}

.menuBarButton:hover {
  transform: scale(1.2);
  transition: 0.5s;
  cursor: pointer;
  color: white;
}

.optionsBar {
  width: 70vw;
  margin: 30px auto;
  height: auto;
  display: flex;
  background-color:#3e96bc;
  overflow: auto;
}

.eachOption {
  margin: 20px;
  display: flex;
  align-items: center;
}

.optionTag{
  color: #011c28;
}

.timerContainer {
  width: 70vw;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.digitalTimer {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  height: auto;
  width: 400px;
  height: 400px;
  align-items: center;
  justify-content: center;
}

.clock {
  width:100px;
  height: 100px;
  border-radius: 50%;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}
.clock.clicked{
  display: none;
}

.secondsHand {
  top: -4px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border-top: 4px solid #1a475a;
  animation: ;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hand {
  width: 70px;
  height: 4px;
  background-color: black;
  transform: rotate(90deg);
}

.articleContainer {
  width: 70vw;
  border: 1px solid black;
  height: 30px;
  margin: 30px auto;
}

.historyContainer {
  width: 70vw;
  border: 1px solid black;
  height: 30px;
  margin: 30px auto;
}

@keyframes spinner{
  0%{
    transform: rotate(0deg)
  }
  100%{
    transform:rotate(360deg)
  }
}
