body {
  margin: 0;
  background-color: #e2e6f399;
}

ul {
  list-style: none;
  text-align: center;
}

a, a:link, a:visited, a:hover, a:link:active, a:visited:active{
  text-decoration: none;
  color: inherit;
}

a:focus {
  border: none;
  outline: 0;
}

.menuBarContainer {
  display:flex;
  width: 100vw;
  height: 80px;
  min-width: 630px;
  overflow: auto;
  color: #e2e6f3;
  background-color: #011c28;
  align-items: center;
  justify-content: center;
}

.menuBarTitle {
  font-size: 25px;
  color: white;
  margin: 25px;
  position: absolute;
  transition: 5s;
}

.menuBarButton {
  font-size: auto;
  font-weight: bold;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #011c28;
  color: white;
  margin: 0 20px;
  transition: 0.3s;
}

.menuBarButton:hover {
  transform: scale(1.2);

  cursor: pointer;
  color: white;
  color: red;
}

.optionsBar {
  max-width: 700px;
  margin: 30px auto;
  height: auto;
  display: flex;
  background-color:#3e96bc;
  overflow: hidden;
}

.eachOption {
  margin: 20px;
  display: flex;
  align-items: center;
}

.questionPopUp {
  background-color: #011c28;
  color: #e2e6f3;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  margin-right: 5px;
}

.questionPopUp:hover {
  cursor: pointer;
  background-color: red;
}

.questionPopUpOne {
  width: 300px;
  height: auto;
  margin-left: 10px;
  margin-top: 10px;
  background-color: #011c28 ;
  visibility: hidden;
  color: #e2e6f3;
  padding: 20px;
}

.questionPopUpOne.clicked {
  visibility: visible;
  position: absolute;
  z-index: 2;
}

.questionPopUpTwo {
  width: 200px;
  height: auto;
  margin-left: 10px;
  margin-top: 10px;
  background-color: #011c28 ;
  visibility: hidden;
  color: #e2e6f3;
  padding: 20px;
}

.questionPopUpTwo.clicked {
  visibility: visible;
  position: absolute;
  z-index: 2;
}

.optionTag{
  color: white;
  font-size: 25px
}

.timerContainer {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.digitalTimer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 50px 0 50px 0;
  background-color: white;
}

.digitalTimer h1 {
  color: #011c28;
  margin: 30px;
}

.timerButton {
  color: #011c28;
  opacity: 1;
  border: 1px solid #011c28;
  background: none;
  margin: 6px;
  padding: 2px 5px 2px 5px;
  transition: 0.5s;
  border-radius: 5px;
  font-weight: bold;
}

.timerButton:hover {
  color: red;
  font-weight: bold;
  cursor: pointer;
}

.startButton:hover {
  color: #84b14b
}

.saveButton:hover {
  color: #dc62f5;
}

.resetButton:hover {
  color: #d4c346cc;;
}

.clock {
  width:100px;
  height: 100px;
  border-radius: 50%;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock.clicked{
  display: none;
}

.secondsHand {
  top: -4px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border-top: 4px solid #1a475a;
  animation: ;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hand {
  width: 70px;
  height: 4px;
  background-color: #e2e6f3;
  transform: rotate(90deg);
  z-index: 1;
}

.articlesContainer {
  min-width: 500px;
  width: 50vw;
  height: auto;
  margin: 60px auto;
  background-color: white;
  padding-bottom: 20px;
  transition: 0.1s;
}

.articleContainer {
  display:flex;
  height: auto;
}

.articleLeft {
  flex: 1;
  align-items: center;
}

.articleRight {
  flex: 1;
  padding: 40px;
}

.articleName {
  min-height: 100px;
  font-size: 15px;
  width: 100%;
}


.articleName p {
  padding-top: 30px;
}

.articleContent h1 {

  font-size: 1.2em;
  display: flex;
  align-items: center;
  margin: 12px 0 7px 0;
  padding: 3px 0 3px 20px;
  background-color: #011c28;
  color: #e2e6f3;
  width: 100%;
  height: auto;
}

.articleImage {
  padding-bottom: 10px;
  max-height: 500px;
  max-width: 345px;
  padding-left: 30px;
  padding-bottom: 10px;
}

.borderBottom {
  margin: 10px 2% 10px 2%;
  height: 1px;
  background-color: grey;
  z-index: 1;
  opacity: 0.5;
}

.historyBox {
  font-size: 10px;
}

.mainContainer {
  display: flex;
  width: 70vw;
  margin: 20px auto;
  justify-content: center;
}

.mainChart {
  height: 100%;
  border-bottom: 1px solid white
}

.historyRenderMain {
  display: grid;
  grid-template-rows: 30px 30px 1fr;
  grid-gap: 10px;
  padding: 20px;
  max-height: 400px;
  overflow: auto;
  max-width: 300px;
  min-width: 300px;
  margin-left: 50px;
  margin-top: 60px;
  font-size: 5px;
  background-color: #011c28;
  color: #e2e6f3;
  text-align: center;
  justify-items: center
}

.historyRenderMain button {
  width: 100px;
  text-align: center;
  font-size:12px;
  font-weight: bold
}

.renderTitle {
  font-size: 20px;
  align-self: center;
}

@media screen and (max-width: 1300px) {
  .articlesContainer {
    width: 80vw;
  }
}

@media screen and (max-width: 1000px) {
  .mainContainer {
    flex-direction: column;
    align-items: center;
  }
  .historyRenderMain{
    width: 70vw;
    font-size: 5px;
    margin-left: 0;
    max-width:300px;
    min-height: 400px
  }
  .renderTitle {
    font-size: 20px
  }
}

@media screen and (max-width: 900px) {
  .menuBarContainer{
    justify-content: flex-end;
  }
  .menuBarButton {
    margin-right: 20px;
  }

  .contentContainer {
    width: 80vw !important;
    transition: 0.5s;
  }

  .articleContainer {
    flex-direction: column;
  }

  .articleLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .articleLeft img {
    align-self: center;
    padding: 10px;
  }

  .articleContent h1 {
    max-width: 80%;
  }
}

@keyframes spinner{
  0%{
    transform: rotate(0deg)
  }
  100%{
    transform:rotate(360deg)
  }
}

.contentContainer {
  display: grid;
  height: 80vh;
  background-color: white;
  width: 50vw;
  max-width: 700px;
  min-width: 392px;
  margin: auto;
  margin-top: 30px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  transition: 0.3s;
}

.aboutContent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  overflow: auto;
}

.contentItem {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
}

.contentItem h1 {
  font-size: 1em;
  display: flex;
  align-items: center;
  margin: 7px 0 7px 0;
  background-color: #011c28;
  color: #e2e6f3;
  width: 70%;
  padding-left: 20px;
}

.contentItem p {
  font-size: 13px;
  padding: 10px;
}

.dataVisuals {
  border-bottom: 1px solid white;
  width: 100%
}

.contactInfo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  transition: 1s;
  border: 1px solid white;
}

.contactInfo h1 {
  font-size: 20px;
}

.contactInfo h2 {
  font-size: 12px;
}
.contactInfo img {
  transition: 1s;
  border-radius: 50%;
}
.contactInfo img:hover {
  background-color: rgba(255, 0, 0, 0.7)
}

a:visited {
  text-decoration: none;
}
